@using Authentication.Models;

@model ClientApp
@{
    ViewBag.Title = "Authorize";
    string displayName = ViewBag.DisplayName;
    string[] scopes = (Request.QueryString.Get("scope") ?? "").Split(' ');
}

<div class="container">
    <h2>Authorize</h2>
    <hr />
    @using (Html.BeginForm("Authorize", "OAuth", FormMethod.Post))
    {
        <p>Hello @displayName,</p>
        <p>A third party application <strong>@Model.Name</strong> wants to do the following on your behalf:</p>
        <ul>
            @foreach (var scope in scopes)
            {
                <li>@scope</li>
            }
        </ul>
        <p>
            <input type="submit" name="grant" value="Grant" class="btn btn-primary" />
            <input type="submit" name="login" value="Sign in as different user" class="btn btn-default" />
        </p>
    }
</div>