@using LNF;
@using Authentication.Models;
@model LoginModel
@{
    ViewBag.Title = "LNF Online Services Log In";

    string errmsg = ViewBag.ErrorMessage;

    bool isprod = ServiceProvider.Current.IsProduction();
}

@section styles {
    <link rel="stylesheet" href="~/Content/login.css" />
}

<div class="login-container">
    <div class="login">
        <div class="login-logo"></div>
        <div class="login-title login-text">Online Services</div>
        <div class="kiosk-message">
            @ViewBag.KioskMessage
        </div>
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal login-form" }))
        {
            <div class="form-group">
                <label class="control-label col-md-offset-3 col-md-2 login-text">Username</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-offset-3 col-md-2 login-text">Password</label>
                <div class="col-md-3">
                    <input type="password" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-2">
                    <button type="submit" class="login-button btn btn-primary"></button>
                </div>
            </div>
        }

        <div class="login-alerts">
            @if (!string.IsNullOrEmpty(errmsg))
            {
                <div class="alert alert-danger" role="alert">
                    @errmsg
                </div>
            }

            @if (!isprod)
            {
                <div class="alert alert-danger" role="alert">
                    <strong style="font-size: larger;">THIS IS THE DEVELOPMENT SITE!</strong><br /><br />
                    ANY RESERVATIONS MADE ON THE DEVELOPEMENT SITE ARE NOT VALID.<br /><br />
                    IF YOU CAME HERE BY ACCIDENT PLEASE GO <a href="https://ssel-apps.eecs.umich.edu/login">HERE</a> TO LOG IN.
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>
        if (window.location != window.top.location)
            window.top.location = '/login/v2';
    </script>
}