/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: #5050ff;
    padding: 20px;
}

.login-container {
    background-color: #aab9d4;
    border: solid 1px #808080;
    box-shadow: 5px 5px 10px #333;
    border-radius: 2px;
    padding: 10px;
    margin-bottom: 20px;
}

.login-text {
    color: #fefeff;
    font-variant: small-caps;
    text-shadow: 2px 2px 2px #333;
    font-weight: bold;
    font-size: 18px;
}

.login-logo {
    background-image: url(images/lnf-logo-blue-text-transparent.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    height: 80px;
}

.login-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.login-button {
    background-color: transparent;
    background-image: url(images/enter-button.jpg);
    background-repeat: no-repeat;
    border: none;
    display: block;
    height: 35px;
    width: 169px;
}

.login-alerts {
    margin-bottom: 10px;
}

    .login-alerts .alert {
        margin-bottom: 10px;
    }

.kiosk-message {
    font-weight: bold;
    color: gold;
    font-size: 12pt;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        padding: 0;
    }

    .no-flexbox .login-container,
    .no-flexboxlegacy .login-container {
        width: 1024px;
        height: 768px;
        margin: 0 auto;
    }

    .flexbox.flexboxlegacy .login-container {
        display: flex;
    }

    .login-container {
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 100%;
        background-color: #5050ff;
        border: none;
        box-shadow: none;
        border-radius: unset;
        margin-bottom: 0;
    }

    .no-flexbox .login,
    .no-flexboxlegacy .login {
        margin-top: 60px;
        padding-top: 140px;
    }

    .login {
        min-width: 1024px;
        min-height: 768px;
        background-image: url(images/lnf-login-screen2.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        position: relative;
    }

    .login-logo, .login-title {
        display: none;
    }

    .login-alerts {
        margin: 0 auto;
        width: 400px;
    }

    .no-flexbox .kiosk-message,
    .no-flexboxlegacy .kiosk-message {
        margin-top: 0;
    }

    .kiosk-message {
        margin-top: 140px;
        margin-bottom: 20px;
    }

    .https-message {
        padding: 0 0 4px 4px;
        position: absolute;
        bottom: 0;
        color: #808080;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

#load-overlay {
    display: none;
}
